<header>
    <div>
        <h1>
            RESMAN
            <!-- <img src="" alt=""> -->
        </h1>
    </div>
    <div>
        <ul>
            <li>
                <a href="">
                    <button mat-button>Home</button>
                </a>
            </li>
            <li>
                <button mat-button [matMenuTriggerFor]="menu">Cadastrar</button>
                <mat-menu #menu="matMenu">
                    <a href="">
                        <button mat-menu-item>Cliente</button>
                    </a>
                    <a href="">
                        <button mat-menu-item>Sala</button>
                    </a>
                    <a href="">
                        <button mat-menu-item>Reserva</button>
                    </a>
                </mat-menu>
            </li>
        </ul>
    </div>
</header>

