div {
    display: flex;
    flex-direction: column;
    width: 150px;
}

select {
    border-radius: 10px;
    padding: 6px;
    width: 150px;
    border: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

select:active, select:focus {
    outline: none;
}