<main>

    <div class="filter-menu">
        <!-- Aqui será o select para definir qual entidade será buscada -->
        <form [formGroup]="selectForm">
            <select formControlName="value" (change)="readForm()" class="select-entity">
                <option [value]="'reservation'">Reserva</option>
                <option [value]="'customer'">Cliente</option>
                <option [value]="'room'">Sala</option>
            </select> 
        </form>
        <div  class="filter-options">
            <div *ngIf="filterComponent === 'customer'">
                <app-customer-select></app-customer-select>
            </div>
        </div>
        <div class="filter-buttons">
        </div>
    </div>

    <!-- <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Reserva 1
            </mat-panel-title>
            <mat-panel-description>
                Reservation for Room 101
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="object-content">
            <div class="object-fields">
                <span>Titulo</span>
                <p></p>
            </div>
        </div>
    </mat-expansion-panel> -->
</main>