<main>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Reserva 1
            </mat-panel-title>
            <mat-panel-description>
                Reservation for Room 101
            </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- Conteúdo aqui -->
        <div class="object-content">
            <div class="object-fields">
                <span>Titulo</span>
                <p></p>
            </div>
        </div>
    </mat-expansion-panel>
</main>