main {
    padding: 30px;
}

h2 {
    text-align: center;
}

mat-card {
    background-color: rgb(240, 240, 240);
    width: 500px;
    margin: auto;
    text-align: center;
}

.input {
    display: block;
    width: 300px;
    margin: auto;
}

button {
    width: 93.5px;
    margin: 10px;
}

.boolean-inputs {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}